<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaooort.baidu_asr" >
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="16462239"/>
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="SxeSg90GoyO9kbzaa1Q1rfdo"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="PMoDYEv4CwL9YFlaCxZl5TgYFnQa7LLL"/>
    </application>
</manifest>
